<app-header [title]="title"></app-header>
<ion-content>
  <div id="container">
    <!-- Name -->
    <div id="name">
      <ion-row class="first-row">
        <ion-col>
          <h3 class="profil-title">User name</h3>
        </ion-col>
        <ion-col class="change-col" size="4">
          <a  fill="clear" class="change" [routerLink]="['changename']"> Change</a>
        </ion-col>
      </ion-row>
      <ion-row class="second-row">
        <p>James Warden</p>
      </ion-row>
    </div>
    <!-- Name -->
    <!-- Email -->
    <div id="email">
      <ion-row class="first-row">
        <ion-col>
          <h3 class="profil-title">Email</h3>
        </ion-col>
        <ion-col class="change-col" size="4">
          <a  fill="clear" class="change" [routerLink]="['changeemail']"> Change</a>
        </ion-col>
      </ion-row>
      <ion-row class="second-row">
        <p>j-warden@email.com</p>
      </ion-row>
    </div>
    <!-- Email -->
    <!-- Phone number -->
    <div id="phone">
      <ion-row class="first-row">
        <ion-col>
          <h3 class="profil-title">Phone number</h3>
        </ion-col>
        <ion-col class="change-col" size="4">
          <a  fill="clear" class="change" [routerLink]="['changeph_number']"> Change</a>
        </ion-col>
      </ion-row>
      <ion-row class="second-row">
        <p>+33 6 16 39 54 78</p>
      </ion-row>
    </div>
    <!-- Phone number -->
    <!-- Password -->
    <div id="password">
      <ion-row class="first-row">
        <ion-col>
          <h3 class="profil-title">Password</h3>
        </ion-col>
        <ion-col class="change-col" size="4">
          <a [routerLink]="['changepassword']" fill="clear" class="change" > Change</a>
        </ion-col>
      </ion-row>
      <ion-row class="second-row">
        <p>*******************</p>
      </ion-row>
    </div>
    <!-- Password -->
    <!-- Account type -->
    <div id="accountType">
      <ion-row class="first-row">
        <ion-col>
          <h3 class="profil-title">Account type</h3>
        </ion-col>
        <ion-col class="change-col" size="4">
          <a  fill="clear" class="change"> Change</a>
        </ion-col>
      </ion-row>
      <ion-row class="second-row">
        <p>Coach</p>
      </ion-row>
    </div>
    <!-- Account type -->
    <!-- logout -->
    <div id="logout">
      <ion-row class="first-row">
          <a  fill="clear" id="logout-id" (click)="logout()"> Logout <ion-icon name="log-out-outline" id="logout-icon"></ion-icon> </a>
      </ion-row>

    </div>
  </div>
</ion-content>

