<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>EXPLORE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="competition">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>COMPETITION</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="players">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>PLAYERS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>PROFILE</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
