<app-header [title] = "title"></app-header>
<ion-content>
  <div class="container">
    <div id="player-form">
      <form [formGroup]="myform" (ngSubmit)="logForm()">
        <!-- Player ID -->
        <ion-input class="" type="text" formControlName="email" placeholder="New password"></ion-input>
        <!-- Error messages -->
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
            Player ID is required.
          </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.minlength">
            Player ID should be min 3 chars long.
          </span>
        <!-- Badge ID -->
        <ion-input class="" type="text" formControlName="emailCheck" placeholder="Confirm password"></ion-input>
        <!-- Error messages -->
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.emailCheck.errors?.required">
            Badge ID is required.
          </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.emailCheck.errors?.minlength">
            Badge ID should be min 2 chars long.
          </span>
        <button ion-button type="submit" class="confirm-changes">Confirm modification</button>
      </form>
    </div>
  </div>
</ion-content>
