<app-header [title] = "title"></app-header>
<ion-content>
  <div class="container">
    <div class="form-container">
      <form [formGroup]="myform" (ngSubmit)="logForm()">
        <!-- Email -->
        <ion-input class="my-input-class" type="password" formControlName="password" placeholder="New password"></ion-input>
        <!-- Error messages -->
        <ion-row>
        <span class="error ion-padding-horizontal" *ngIf="isSubmitted && errorControl.password.errors?.required">
            Email is required.
        </span>
          <span class="error ion-padding-horizontal" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
            Email should be min 3 chars long.
        </span>
        </ion-row>
        <!-- Confirm email ID -->
        <ion-input class="my-input-class" type="password" formControlName="passwordCheck" placeholder="Confirm password"></ion-input>
        <!-- Error messages -->
        <ion-row>
        <span class="error ion-padding-horizontal" *ngIf="isSubmitted && errorControl.passwordCheck.errors?.required">
            Confirm password is required.
        </span>
          <span class="error ion-padding-horizontal" *ngIf="isSubmitted && errorControl.passwordCheck.errors?.minlength">
            Confirm password should be min 2 chars long.
        </span>

        </ion-row>
        <button ion-button type="submit" class="confirm-changes">Confirm modification</button>
      </form>
    </div>
  </div>
</ion-content>
