.container {
  width: 100%;
  height: 100%;
  //background	: var(--ion-color-primary-tint);
  border-radius: 50px 50px 0px 0px;
}


ion-title{
  padding: 30px 20px;
  color: red;
}

.input-text {

}

ion-input{
  height: 52px;
  width: 90%;
  margin: 10px auto;
  border: 2px solid #A7A9BE;
  font-size: 17px;
  --placeholder-color: #A7A9BE;
}

ion-item {
  --highlight-color-focused: none;
  --highlight-color-invalid: none;
  --highlight-color-valid: none;
  --border-color: white;
}

#player-form{
  padding-top: 70px;
}

.my-submit-bt{
  background: #1F53E4;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 200px;
  height: 52px;
  --border-radius: 7px;
  //border: 2px solid white !important;
  border-radius: 6px;
  font-weight: 700;
  display: table;
  margin: 30px auto;
}

ion-input{
  --padding-start:10px;
  --placeholder-font-style: var(--my-font-family);
  --placeholder-font-weight: 500;
  font-size: 15px;
}

//error class
.error {
  font-size: 13px;
  font-family: var(--my-font-family);
  margin-left: 10px;
  color: red;
}
.confirm-changes{
  background: #1F53E4;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 250px;
  height: 53px;
  --border-radius: 7px;
  //border: 2px solid white !important;
  border-radius: 6px;
  font-weight: 500;
  display: table;
  margin: 30px auto;
}
