//*****************style for profile ***************************//

.profil-title {
  font-size: 19px;
  font-weight: 500;
  font-family: var(--my-font-family);
  color: var(--my-black-color);
  margin: 0px;

}

.first-row {
  width: 90%;
  margin: 0px auto;

}

.second-row{
  width: 90%;
  margin: 5px auto;
  font-size: 16px;
  color: var(--my-blue-color);
  font-weight: 500;
}







////////////////////////////////////////


