.my-submit-bt{
  background: #1F53E4;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 200px;
  height: 52px;
  --border-radius: 7px;
  //border: 2px solid white !important;
  border-radius: 6px;
  font-weight: 500;
  display: table;
  margin: 30px auto;
}

ion-input{
  --padding-start:10px;
  --placeholder-font-style: var(--my-font-family);
  --placeholder-font-weight: 500;
  font-size: 15px;
}

//error class
.error {
  font-size: 13px;
  font-family: var(--my-font-family);
  margin-left: 10px;
  color: red;
}
