<ion-content>
    <h1 id ="register">Register</h1>
    <div id="container">
      <form [formGroup]="myform" (ngSubmit)="createCoach()">
      <ion-input formControlName="nom" class="field" placeholder="User name"></ion-input>
      <ion-input formControlName="prenom" class="field" placeholder="Full name"></ion-input>
      <ion-input formControlName="email" class="field" type="email" placeholder="Email"></ion-input>
      <ion-input formControlName="phone" class="field" placeholder="Phone"></ion-input>
      <ion-input formControlName="password" class="field" type="password" placeholder="Password"></ion-input>
      <ion-input  class="field" type="password" placeholder="Confirm password"></ion-input>
      <ion-button id="signup" type="submit">SIGN UP</ion-button>
      </form>
  </div>
</ion-content>
<ion-footer class="ion-no-border" style="height: 100px">
  <a [routerLink]="['/login']" id="login" fill="clear"> Log In Now </a>
</ion-footer>
