#register{
    width: 148px;
    height: 40px;
    margin-left: 20px;
    margin-top: 50px;
    font-family: Comfortaa;
    font-size: 35px;
}
.field{
  height: 52px;
  width: 90%;
  margin: 10px auto;
  border: 2px solid #A7A9BE;
  font-size: 1.1rem;
  --placeholder-color: #A7A9BE;
  color: var(--my-input-text-color);
}
#signup{
  background: #1F53E4;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 200px;
  height: 52px;
  --border-radius: 7px;
  //border: 2px solid white !important;
  border-radius: 6px;
  font-weight: 700;
  display: table;
  margin: 30px auto;
}
#container{
    margin-top: 50px;
}

#login {
  font-size: 14px;
  display: table;
  ont-family: 'Roboto', sans-serif;
  margin:5px auto;
  text-align: right;
  text-decoration: underline;
  padding: 10px;
  color: #000000;
}

#login-row{
  width: 100%;
  position: fixed;
  padding-left: 10px;
  bottom: 40px;
}
