<ion-content>
    <h1 id ="register">Register</h1>
    <div id="container">
      <ion-input class="field" placeholder="User name"></ion-input>
      <ion-input class="field" placeholder="Full name"></ion-input>
      <ion-input class="field" type="email" placeholder="Email"></ion-input>
      <ion-input class="field" placeholder="Phone"></ion-input>
      <ion-input class="field" type="password" placeholder="Password"></ion-input>
      <ion-input class="field" type="password" placeholder="Confirm password"></ion-input>
      <ion-button id="signup">SIGN UP</ion-button>
  </div>
</ion-content>
<ion-footer class="ion-no-border" style="height: 100px">
  <a [routerLink]="['/login']" id="login" fill="clear"> Log In Now </a>
</ion-footer>
