<app-header [title] = "title"></app-header>
<ion-card class="my-card">
  <ion-card-header>
    <ion-card-title class="my-card-title">Card Title</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
    <p class="my-card-dis">Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </p>
    </ion-row>
    <ion-row style="text-align: right;">
      <ion-col offset="8">
        <p class="data-style">2/28/2021</p>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
