<app-header [title]="title"></app-header>


<ion-content class="card-background-page">
  <div id="container">
    <ion-input class="field" placeholder="Course title"></ion-input>
    <ion-input class="field" placeholder="Course description"></ion-input>
      <ion-row>
        <ion-col size="8">
          <ion-input class="idplayer " placeholder="Id Player"></ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-button id="signup">Add</ion-button>
        </ion-col>
      </ion-row>
  </div>

  <ion-button  id="start">Start</ion-button>

    <ion-list class ="liste">
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
        <button class="remove"  ion-button color="danger" icon-start>
          <ion-icon name='close'></ion-icon>
          Remove
        </button>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
        <button class="remove"  ion-button color="danger" icon-start>
          <ion-icon name='close'></ion-icon>
          Remove
        </button>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
        <button class="remove"  ion-button color="danger" icon-start>
          <ion-icon name='close'></ion-icon>
          Remove
        </button>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
        <button class="remove"  ion-button color="danger" icon-start>
          <ion-icon name='close'></ion-icon>
          Remove
        </button>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
        <button class="remove"  ion-button color="danger" icon-start>
          <ion-icon name='close'></ion-icon>
          Remove
        </button>
      </ion-item>
    </ion-list>

<ion-content>

</ion-content>
