<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <h1 class="title-home">Home</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="div-after-header-home">
</div>

<ion-content class="card-background-page">
    <ion-card>
      <a [routerLink]="['running']">
        <img src="../../assets/images/cap.jpg"/>
        <div class="card-title">Running</div>
      </a>
    </ion-card>
    <ion-card>
      <a [routerLink]="['swimming']">
        <img src="../../assets/images/natation.jpg"/>
        <div class="card-title">Swimming</div>
      </a>
    </ion-card>
</ion-content>
